Repository dsa110/dsa110-contimg: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pyflakes, flake8, mypy, bandit

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# CRITICAL: All Python hooks MUST use casa6 Python environment
# Path: /opt/miniforge/envs/casa6/bin/python

repos:
  # Output handling validation
  - repo: local
    hooks:
      - id: output-handling-validation
        name: Validate Output Handling Rules
        entry: bash scripts/quality/validate-output-handling.sh
        language: system
        types: [shell]
        pass_filenames: false
        always_run: false
        stages: [pre-commit]

  # Python code formatting and linting (using casa6 Python)
  - repo: local
    hooks:
      - id: black
        name: black (casa6) - Code formatting
        entry: /opt/miniforge/envs/casa6/bin/black
        language: system
        types: [python]
        # No args = auto-format (files are modified in place)
        exclude: ^(archive/|notebooks/|\.venv/|venv/|env/)

      - id: isort
        name: isort (casa6) - Import sorting
        entry: /opt/miniforge/envs/casa6/bin/isort
        language: system
        types: [python]
        # No args = auto-format (files are modified in place)
        exclude: ^(archive/|notebooks/|\.venv/|venv/|env/)

      - id: pylint
        name: pylint (casa6) - Code quality
        entry: /opt/miniforge/envs/casa6/bin/pylint
        language: system
        types: [python]
        args:
          [
            --errors-only,
            --max-line-length=88,
            --ignore=archive,
            notebooks,
            .venv,
            venv,
            env,
            --ignore-patterns=^.venv.*,
          ]
        exclude: ^(archive/|notebooks/|\.venv/|venv/|env/|tests/.*test_.*\.py)
        # Note: Pylint on tests can be noisy; consider enabling separately if desired

      - id: pyflakes
        name: pyflakes (casa6) - Undefined variable detection
        entry: /opt/miniforge/envs/casa6/bin/pyflakes
        language: system
        types: [python]
        exclude: ^(archive/|notebooks/|\.venv/|venv/|env/)

      - id: flake8
        name: flake8 (casa6) - Style guide enforcement
        entry: /opt/miniforge/envs/casa6/bin/flake8
        language: system
        types: [python]
        args: [--max-line-length=88, --extend-ignore=E203, W503]
        exclude: ^(archive/|notebooks/|\.venv/|venv/|env/)

      - id: mypy
        name: mypy (casa6) - Static type checking
        entry: /opt/miniforge/envs/casa6/bin/mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: ^(archive/|notebooks/|\.venv/|venv/|env/|tests/)

      - id: bandit
        name: bandit (casa6) - Security linting
        entry: /opt/miniforge/envs/casa6/bin/bandit
        language: system
        types: [python]
        args: [-r, ., -ll, --skip, B101, B601]
        exclude: ^(archive/|notebooks/|\.venv/|venv/|env/|tests/)

  # Port configuration validation
  - repo: local
    hooks:
      - id: validate-port-config
        name: Validate Port Configuration
        entry: /opt/miniforge/envs/casa6/bin/python scripts/quality/validate-port-config.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

refactor: Optimize state management by using refs for currentFov and sourceName
  frontend/src/components/widgets/AladinLiteViewer.tsx
Due: none

refactor: Update CatalogOverlayPanel tests for button accessibility and improve AppErrorBoundary logging
  frontend/src/components/catalogs/CatalogOverlayPanel.test.tsx
  frontend/src/components/catalogs/CatalogOverlayPanel.tsx
  frontend/src/components/errors/AppErrorBoundary.stories.tsx
Due: none

Use ops/docker environment in validation workflow
  .github/workflows/validation-tests.yml
Due: none

Add uiMode.html and xtermModule CSS for enhanced terminal UI support
  backend/.coverage
  backend/src/dsa110_contimg/api/db_adapters/__init__.py
  backend/src/dsa110_contimg/api/db_adapters/adapters/sync_pool.py
  legacy.backend/src/dsa110_contimg.egg-info/PKG-INFO
  legacy.backend/src/dsa110_contimg.egg-info/SOURCES.txt
  legacy.backend/src/dsa110_contimg.egg-info/dependency_links.txt
  legacy.backend/src/dsa110_contimg.egg-info/entry_points.txt
  legacy.backend/src/dsa110_contimg.egg-info/requires.txt
  legacy.backend/src/dsa110_contimg.egg-info/top_level.txt
  legacy.frontend/playwright-report/data/938ca3ce1fba863147b2c88b1a7c38e8c5b3d27a.md
  legacy.frontend/playwright-report/data/9dddef26a828f3fb87e58f430b07a52d17858a0d.md
  legacy.frontend/playwright-report/data/e3ee23b2ca71988c15e9d9993e8e626bf1fa054b.md
  legacy.frontend/playwright-report/index.html
  legacy.frontend/playwright-report/trace/assets/codeMirrorModule-eyVcHN77.js
  legacy.frontend/playwright-report/trace/assets/defaultSettingsView-w0zYjHsW.js
  legacy.frontend/playwright-report/trace/codeMirrorModule.C3UTv-Ge.css
  legacy.frontend/playwright-report/trace/codicon.DCmgc-ay.ttf
  legacy.frontend/playwright-report/trace/defaultSettingsView.TQ8_7ybu.css
  legacy.frontend/playwright-report/trace/index.Bx16ehp1.js
  legacy.frontend/playwright-report/trace/index.I8N9v4jT.css
  legacy.frontend/playwright-report/trace/index.html
  legacy.frontend/playwright-report/trace/playwright-logo.svg
  legacy.frontend/playwright-report/trace/snapshot.html
  legacy.frontend/playwright-report/trace/sw.bundle.js
  legacy.frontend/playwright-report/trace/uiMode.Btcz36p_.css
  legacy.frontend/playwright-report/trace/uiMode.DRQ310U5.js
  legacy.frontend/playwright-report/trace/uiMode.html
  legacy.frontend/playwright-report/trace/xtermModule.DYP7pi_n.css
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

Revert "Use ops/docker environment in validation workflow"
  .github/workflows/validation-tests.yml
Due: none

refactor: simplify package.json by removing unused scripts and dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: specify exception types in error handling to improve clarity and robustness
  backend/src/dsa110_contimg/api/data_access.py
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

fix: specify exception types in model structure test for improved error handling
  backend/tests/unit/api/test_api_endpoints.py
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

fix: update validation workflow to install backend dependencies and improve test execution
  .github/workflows/validation-tests.yml
  backend/src/dsa110_contimg/api/data_access.py
  backend/src/dsa110_contimg/api/db_adapters/__init__.py
  backend/src/dsa110_contimg/api/db_adapters/adapters/sync_pool.py
  src/dsa110_contimg/utils/python_version_guard.py
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

fix: update validation tests paths to reflect new backend directory structure
  .github/workflows/validation-tests.yml
Due: none

Fix CI to install root package and run root tests
  .github/workflows/validation-tests.yml
Due: none

fix: update validation tests to use relative paths and simplify dependency installation
  scripts/ragflow/retry_failed_docs.py
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

chore: update frontend dependencies and fix API endpoint in retry_failed_docs.py
  frontend/package-lock.json
  frontend/package.json
  scripts/ragflow/retry_failed_docs.py
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

fix: add eslint-plugin-unused-imports to devDependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: enhance type safety in CatalogOverlayJS9 and UnifiedSearch components
  frontend/src/components/Sky/CatalogOverlayJS9.tsx
  frontend/src/components/UnifiedSearch.tsx
  frontend/src/pages/AbsurdPage.tsx
Due: none

fix: skip Python check in validation and unit tests, and update subbands for simulations
  .github/workflows/validation-tests.yml
Due: none

Fix CI: use casa6-friendly tests, template-free integration, format tests
  tests/fixtures/mock_stages.py
  tests/unit/api/test_monitoring_endpoints.py
  tests/unit/catalog/test_catalog_query_fix.py
  tests/unit/catalog/test_crossmatch.py
  tests/unit/conversion/test_subband_ordering.py
  tests/unit/database/test_data_registry_publish.py
  tests/unit/photometry/test_forced_photometry_enhanced.py
  tests/unit/qa/test_qa_validation_mode.py
  tests/unit/simulation/test_validate_synthetic.py
  tests/unit/test_parallel.py
  tests/unit/visualization/test_fits_visualization.py
  tests/utils/generate_uvh5_calibrator.py
  tests/utils/testing_compare_writers.py
  tests/utils/testing_fast.py
Due: black, isort, pylint, pyflakes, flake8

feat: update package.json and enhance CatalogOverlayJS9 component
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Sky/CatalogOverlayJS9.tsx
  frontend/src/pages/AbsurdPage.tsx
Due: none

fix: update source type in CatalogOverlayJS9 and remove redundant color function
  frontend/src/components/Sky/CatalogOverlayJS9.tsx
Due: none

fix: add @types/node dependency to package.json and package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add database schema fix script and update .gitignore for coverage reports
  .coverage
  .gitignore
  .gitlab-ci.yml.e2e
  .pre-commit-config.yaml.bak
  scripts/fix_schemas.py
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

feat(security): Add comprehensive security recommendations and solutions documentation
  frontend/.env.development.backup
  frontend/docs/BUGFIX_PROGRESS.md
  frontend/docs/SECURITY_AUDIT.md
  frontend/docs/SECURITY_RECOMMENDATIONS.md
  frontend/docs/SECURITY_SOLUTIONS.md
  frontend/docs/WASM_LOADING_ANALYSIS.md
  frontend/package.json
  frontend/playwright.config.ts.backup
  frontend/scripts/clear_vite_cache.sh
  frontend/scripts/install-dependencies-reliable.sh
  frontend/scripts/install-dependencies.sh
  frontend/scripts/remove-js9-declarations.py
  frontend/scripts/test.sh
  frontend/test-api.html
  frontend/vite.config.minimal.ts
  frontend/vite.config.ts.backup
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

refactor: remove Playwright configuration files and update UnifiedSearch component
  frontend/package-lock.json
  frontend/playwright.docker.config.ts
  frontend/playwright.test.config.ts
  frontend/src/components/UnifiedSearch.tsx
Due: none

refactor: Add symlink to Copilot instructions for improved accessibility
  frontend/.github/copilot-instructions.md
Due: none

refactor: Add symlinks to Copilot instructions for improved accessibility across multiple directories
  backend/.github/copilot-instructions.md
  benchmarks/.github/copilot-instructions.md
  config/.github/copilot-instructions.md
  docs/.github/copilot-instructions.md
  external/.github/copilot-instructions.md
  legacy.backend/.github/copilot-instructions.md
  legacy.frontend/.github/copilot-instructions.md
  monitoring/.github/copilot-instructions.md
  ops/.github/copilot-instructions.md
  scripts/.github/copilot-instructions.md
  src/.github/copilot-instructions.md
  vendor/.github/copilot-instructions.md
Due: none

refactor: Update symlink paths in Copilot instructions for consistent directory structure
  backend/.github/copilot-instructions.md
  benchmarks/.github/copilot-instructions.md
  config/.github/copilot-instructions.md
  docs/.github/copilot-instructions.md
  external/.github/copilot-instructions.md
  frontend/.github/copilot-instructions.md
  legacy.backend/.github/copilot-instructions.md
  legacy.frontend/.github/copilot-instructions.md
  monitoring/.github/copilot-instructions.md
  ops/.github/copilot-instructions.md
  scripts/.github/copilot-instructions.md
  src/.github/copilot-instructions.md
  vendor/.github/copilot-instructions.md
Due: none

feat: add frontend and scripts structure diagrams, ESLint and Playwright configurations
  .coverage
  backend/docker-compose.postgresql.yml
  config/hooks/.pre-commit-port-check.sh
  coverage.xml
  docs/images/frontend_structure.mmd
  docs/images/frontend_structure.svg
  docs/images/scripts_structure.mmd
  docs/images/scripts_structure.svg
  frontend/config/lint/eslint.config.js
  frontend/config/test/playwright.config.ts
  frontend/postcss.config.js
  frontend/tailwind.config.js
  frontend/vite.config.ts
Due: none

refactor: remove unused configuration files and update testing setup
  config/editor/.editorconfig
  config/editor/.nvmrc
  config/linting/.flake8
  config/linting/.prettierignore
  config/linting/.prettierrc
  frontend/package.json
  frontend/src/testing/AladinLiteViewer.test.tsx
  frontend/src/testing/GifPlayer.test.tsx
  frontend/src/testing/LightCurveChart.test.tsx
  frontend/src/testing/hello.test.ts
  frontend/src/testing/setup.ts
  frontend/src/testing/useQueries.test.tsx
  frontend/vite.config.ts
Due: none

Add PostgreSQL schema and test fixtures for DSA-110 pipeline
  backend/.env.postgresql
  backend/docker-compose.postgresql.yml
  backend/scripts/postgres/init.sql
  backend/scripts/postgres/migrate_sqlite_to_postgres.py
  backend/tests/fixtures/__init__.py
  backend/tests/fixtures/ms_fixtures.py
  backend/tests/fixtures/uvh5_fixtures.py
  backend/tests/unit/conversion/test_helpers_antenna.py
  backend/tests/unit/conversion/test_helpers_validation.py
  backend/tests/unit/conversion/test_writers.py
  backend/tests/unit/test_api_routes.py
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

feat: add database fixtures for integration testing with SQLite
  backend/tests/fixtures/database_fixtures.py
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

feat: implement batch query utilities and repository methods for optimized data fetching
  backend/src/dsa110_contimg/api/interfaces.py
  backend/src/dsa110_contimg/api/query_batch.py
  backend/src/dsa110_contimg/api/repositories.py
  backend/tests/fixtures/__init__.py
  backend/tests/integration/test_api_with_data.py
  backend/tests/unit/api/test_query_batch.py
  backend/tests/unit/test_api_routes.py
  frontend/README.md
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

feat: add PostgreSQL and query batching documentation, enhance contributing guide, and implement layout and provenance component exports
  backend/docs/postgresql-deployment.md
  backend/docs/query-batching.md
  backend/tests/unit/conversion/test_writers.py
  frontend/CONTRIBUTING.md
  frontend/src/components/layout/index.ts
  frontend/src/components/provenance/index.ts
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

feat: enhance unit tests for validation functions with mock table factory and improved import handling
  backend/tests/unit/conversion/test_helpers_validation.py
  frontend/CONTRIBUTING.md
  frontend/src/components/README.md
  frontend/src/hooks/README.md
  frontend/src/pages/README.md
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

docs: update README to reference CONTRIBUTING.md for setup instructions and workflows
  backend/tests/unit/conversion/test_helpers_antenna.py
  frontend/README.md
Due: black, isort, pylint, pyflakes, flake8, mypy, bandit

feat: add .gitignore for frontend-specific files and build outputs
  backend/docs/postgresql-deployment.md
  frontend/.gitignore
  frontend/src/hooks/useImageDetail.test.ts
Due: none

feat: add README for API client with usage and resilience patterns
  frontend/src/api/README.md
Due: none

feat: add detailed README for TypeScript types and utilities with usage examples
  frontend/src/api/README.md
  frontend/src/types/README.md
  frontend/src/utils/README.md
Due: none

feat: update workflow paths for backend structure and add Getting Started guide
  .github/workflows/pr-checks.yml
  .github/workflows/pre-commit.yml
  backend/docs/GETTING_STARTED.md
Due: none

Add README documentation for DSA-110 Continuum Imaging Pipeline modules
  backend/README.md
  backend/docs/GETTING_STARTED.md
  backend/docs/backend_architecture.svg
  backend/src/dsa110_contimg/api/README.md
  backend/src/dsa110_contimg/calibration/README.md
  backend/src/dsa110_contimg/conversion/README.md
  backend/src/dsa110_contimg/imaging/README.md
  backend/src/dsa110_contimg/pipeline/README.md
Due: none
